# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.sdf

#debug
*.tlog
*.log
*.pdb
*.ilk
*.exp
SpelEnginedll/Debug/
SpelEnginedll/Release/
SpelEnginedll/x64/
SpelEngineApp/Debug/
SpelEngineApp/Release/
SpelEngineApp/x64/

#bins and libs
bin/
lib/
